.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    width: 18rem;
    border: 3px black solid;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-left: 30px;
    background-color: gray;
  }

.div-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    background-color: rgb(111, 207, 236);
    border-radius: 20px;
}

.Link {
    font-family: 'Press Start 2P';
    width: 120px;
    height: 40px;
    border-radius: 13px;
    border: 1px solid black;
}

.dog-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    color: white;
    width: inherit;
}

.black-box {
    background-color: black;
    height: 350px;
    background: linear-gradient(0deg, rgb(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-container {
    display: flex;
    flex-direction: column;
}
